/* '*' is a universal selector. It will select all the elements
     the content's area remain fixed size, meaning any padding
     and border added won't increase its overall dimensions*/
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: sans-serif;
    background: #f5f6f7;
  }
  
  .header {
    text-align: center;
    text-transform: uppercase;
    padding: 32px;
    background-color: #0a0a23;
    color: #fff;
    border-bottom: 4px solid #fdb347;
  }
  
  .gallery {
    /*makes gallery into a flexible container*/
    display: flex;
    /*flex items(inside the container) has be in row*/
    flex-direction: row;
    /*wraps to next row if they don't fit within the width*/
    flex-wrap: wrap;
    /*any extra space (if available) along the main axis will be 
    distributed evenly, pushing the flex items toward the center of the container*/
    justify-content: center;
    align-items: center;
    /*controls the gap between grids*/
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
  }
  
  .gallery img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    /*maintains aspect ratio while covering the entire container
      if aspect ratio doesn't match the container, it will be cropped*/
    object-fit: cover;
    border-radius: 10px;
  }
  /*targets pseudo-element (after gallery have an empty content with a width of 350*/
  .gallery::after {
    content: "";
    width: 350px;
  }
  